

<li style="list-style-type: none;">
	<%=link_to gravatar_for(comment.author, size: 30), user_path(comment.author)%>
	<%=link_to comment.author.name, user_path(comment.author)%> 
	<%=time_ago_in_words(comment.created_at)%> ago<br>
    <%=comment.content%>	
</li>

