
<div class="post_form" style= "padding-top: 20px;">
	<%=form_for :post, url: posts_path do |f|%>
		<%=f.text_area :content, class: "form-control", rows:"5", placeholder: "Write anything..."%><br>
		<%= f.submit 'Share', class: "btn btn-primary"%>
	<%end%>
</div>