<h2>Friends</h2>

<ul>
	<%current_user.friends.each do |f|%>
		<li><%= link_to f.name, user_path(f)%></li>
	<%end%>
    <p>-------------------------------</p><br>
	<%current_user.inverse_friends.each do |f|%>
		<li><%= link_to f.name, user_path(f)%></li>
	<%end%>
</ul>



