<h2>Friend Requests</h2>
<ul>
	
	<% current_user.followers.each do |f|%>
		<li><%=link_to f.name, user_path(f) %> | <%=link_to 'Accept', friendships_path(id: f.id), method: :post%></li>
	<%end%>
	
</ul>