@import "bootstrap-sprockets";
@import "bootstrap";


h2{
	text-align: center;
    font-family: 'Cabin sketch', cursive;
}


body{
    background-color: #E6E6FA;
}

.alert-alert{
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-notice{
	background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

 .posts{
    list-style: none;
    padding-left: 0;
 }

textarea{
    resize: none;
}

.index-users {
    margin-left: 5%;
    margin-top: 5%;
}

.timeline{
    background-color: #E6E6FA;
}

.timeline li{
    background: white;
    margin-bottom: 2%;
  
}
.all-posts{
    list-style: none;
    padding-top:2%;
}

.post-header, #thumbs{
    background-color: #F0FFF0;  
}

#post-name{
    font-weight: bold;
}

.not-active{
    pointer-events: none;
    cursor: default;
    color: #b4b4b4;
    font-size: 13px;
}
.post-header{
    padding-left: 0.5%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    border-radius: 5px;
}

#post-content{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    line-height: 1.5em;
}

#reply{
    color: #3c3c3c;
}
#show-comments-link{
   float: left;
   padding-left: 1%;
   padding-right: 2%;
   color: #3c3c3c;
}
#post-footer{
    font-size: 11px;
    font-weight: normal;
    padding-bottom: 5px;
    margin-bottom: 1%;
}

.index-user-info{
    padding-top: 2%;
    padding-left: 4%;
    padding-bottom: 2%;
    vertical-align: bottom;
    line-height: 1em;
    background-color: white;
}

.icon{
    background: white;
    
}
.pic{
    height: 2.8em;
    width: 2.8em;
}

.middle{
    text-align: center;
    background-image: url('pexels-photo-sky.jpeg');
    background-size: 100% 100%;

}
.row{
    padding-left: 3%;
}

#login-button{
    border: 1px solid white;
    color: white;
    width: 100%;
}


#description{
  
    padding: 5% 0 0 0;
    font-family: 'Cabin sketch', cursive;
    line-height: 2em;
}
#jumbotron{
    background-color: rgba(96, 96, 82,0.6);
    padding: 2% 5% 2% 5%;
    margin-top: 5%;
}

.content{
    color: white;
}

#content-title{
    font-family: 'Cabin sketch', cursive;
}

.navbar-brand{
    font-family: 'Cabin sketch', cursive;
    font-size: 3em;
}

#gplus-button{
    color: white;
    background-color: rgb(223,74,50);
    margin-top: 2%;
}



/* footer */

footer {
  border-top: 1px solid rgb(243,242,241);
  margin-top: 45px;
  padding-top: 5px;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}